{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Horse</h1>
    <form action="/horses" method="post">
        <table class="govuk-table">
            <caption class="govuk-table__caption">Horse</caption>
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Name</th>
                    <td class="govuk-table__cell">{{ horse.name }}</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Description</th>
                    <td class="govuk-table__cell">{{ horse.description }}</td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="id" value="{{ horse.id }}"/>
        <button class="govuk-button" name="deleteOrEdit" type="submit" value="Delete">Delete</button>
        <button class="govuk-button" name="deleteOrEdit" type="submit" value="Edit">Edit</button>
    </form>
</div>
{% endblock %}
