{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Animals</h1>

    <form action="/animals/filter" method="get">
        <div class="govuk-form-group">
            <label class="govuk-label" for="name">
            Filter by name
            </label>
            <input class="govuk-input govuk-input--width-10" id="name" name="name" type="text">

            <label class="govuk-label" for="color">
            Filter by color
            </label>
            <input class="govuk-input govuk-input--width-10" id="color" name="color" type="text">       
        
            <label class="govuk-label" for="description">
            Filter by description
            </label>
            <input class="govuk-input govuk-input--width-10" id="description" name="description" type="text">
            
            <label class="govuk-label" for="type">
            Filter by type
            </label>
            <input class="govuk-input govuk-input--width-10" id="type" name="type" type="text">
        </div>    
        <div class="govuk-button-group">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">
                Filter
              </button>                         
        </div>    
     
    </form>   
    <a class="govuk-button" href="/animals/add">Add an Animal</a>
    <table class="govuk-table">
        <caption class="govuk-table__caption">Animals</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% for animal in animals %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ animal.name }}</th>
            <td class="govuk-table__cell">{{ animal.description }}</td>
            <td class="govuk-table__cell">
                <a href="/animals/{{ animal.id }}" class="govuk-link">View</a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
