{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Animal</h1>

    <table class="govuk-table">
        <caption class="govuk-table__caption">Animal</caption>
        <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">{{ animal.name }}</td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Description</th>
            <td class="govuk-table__cell">{{ animal.description }}</td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Color</th>
            <td class="govuk-table__cell">{{ animal.color }}</td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Type</th>
            <td class="govuk-table__cell">{{ animal.type }}</td>
        </tr>

    </tbody>
    </table>
    <form action="/animals/{{ animal.id }}" method="post">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button" type="submit">
            Delete animal
        </button>
    </form>
</div>
{% endblock %}
