<script src="/public/js/jquery-1.11.3.js"></script>
<script src="/public/js/jquery.jsonview.js"></script>
<script src="/public/js/step-by-step-navigation.js"></script>
<script src="/public/js/jsonpath.min.js"></script>
<script src="/assets/js/all.js"></script>
<script src="/public/js/accessible-autocomplete.min.js"></script>
<script src="/public/js/tables.js"></script>
<script src="/public/js/templates.js"></script>
<script src="/public/js/nunjucks-slim.min.js"></script>
<script src="/public/js/utils.js"></script>
<script src="/public/js/registrations.js"></script>
<script src="/public/js/applications.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/rules.js"></script>
<script src="/public/js/documents.js"></script>
