{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Add an animal</h1>
    
    <form action="/generic" method="post">
        <div class="govuk-form-group">
            <label class="govuk-label" for="name">
                Name
            </label>
            <input class="govuk-input" id="name" name="name" type="text" spellcheck="false" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="description">
                Description
            </label>
            <input class="govuk-input" id="description" name="description" type="text" spellcheck="false" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="species">
                Species
            </label>
            <input class="govuk-input" id="species" name="species" type="text" spellcheck="false" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="group">
                Species Group
            </label>
            <input class="govuk-input" id="group" name="group" type="text" spellcheck="false" required>
        </div>

        <button class="govuk-button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
