{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Animals</h1>

    <a class="govuk-button" href="/animals/add">Add an animal</a>

    <table class="govuk-table">
        <caption class="govuk-table__caption">Please click on a value, to filter or remove filter.</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Color</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Group</th>
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% for animal in animals %}
        <tr class="govuk-table__row">
            {% set nameScript = ['addFilterToURL("names","' , animal.name, '")']|join %}
            <th scope="row" class="govuk-table__header"><a  href="#" onclick='{{nameScript}}'>{{ animal.name }}</a></th>
            {% set descScript = ['addFilterToURL("descriptions","' , animal.description, '")']|join %}
            <td class="govuk-table__cell"><a  href="#" onclick='{{descScript}}'>{{ animal.description }}</a></td>
            {% set colorScript = ['addFilterToURL("colors","' , animal.color, '")']|join %}
            <td class="govuk-table__cell">
                <a href="#" onclick='{{colorScript}}' >
                    <div style={{["height:25px;width:40px;background-color:",animal.color]|join}}></div>
                </a>
            </td>
            {% set typeScript = ['addFilterToURL("types","' , animal.type, '")']|join %}
            <td class="govuk-table__cell"><a href="#" onclick='{{typeScript}}'>{{ animal.type }}</a></td>
            <td class="govuk-table__cell">{{ animal.group }}</td>
            <td class="govuk-table__cell">
                <a href="/{{ animal.type }}s/{{ animal.id }}" class="govuk-link">View</a>
            </td>
            <td class="govuk-table__cell">
                <a href="/{{ animal.type }}s/{{ animal.id }}/delete?loc=/animals" class="govuk-link">Delete</a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
