{% extends "layout.html" %} {% block content %}

<div class="govuk-width-container app-site-width-container">
  <h1 class="govuk-heading-l">Animals</h1>
  
  <form action="/animals" method="get">
    <h2 class="govuk-heading-m">Filters</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <label class="govuk-label" for="name"> Name </label>
          <input
            class="govuk-input full"
            id="name"
            name="name"
            type="text"
            value="{{ filters.name }}"
          />
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <label class="govuk-label" for="description"> Description </label>
          <input
            class="govuk-input full"
            id="description"
            name="description"
            type="text"
            value="{{ filters.description }}"
          />
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <label class="govuk-label" for="colour"> Colour </label>
          <input
            class="govuk-input full"
            id="colour"
            name="colour"
            type="text"
            value="{{ filters.colour }}"
          />
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <label class="govuk-label" for="type"> Type </label>
          <select class="govuk-select govuk-!-width-full" id="type" name="type">
            <option value="">Choose type</option>
            {% for type in types %}
            <option value="{{ type }}" {{ 'selected' if filters.type === type }}>{{ type | capitalize }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" type="submit">Search Animals</button>
      <a class="govuk-button" href="/animals/add">Add a Animal</a>
    </div>
  </form>

  {% if animals | length %}
  <table class="govuk-table">
    <caption class="govuk-table__caption">
      Animals
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Colour</th>
        <th scope="col" class="govuk-table__header">Type</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for animal in animals %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ animal.name }}</th>
        <td class="govuk-table__cell">{{ animal.description }}</td>
        <td class="govuk-table__cell">{{ animal.colour }}</td>
        <td class="govuk-table__cell">{{ animal.type | capitalize }}</td>
        <td class="govuk-table__cell">
          <a href="/animals/{{ animal.id }}" class="govuk-link">View</a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="govuk-inset-text">
    There are no animals. Please add an animal using the Add a Animal button provided.
  </div>
  {% endif %}
</div>
{% endblock %}
