{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Arachnids</h1>

    <a class="govuk-button" href="/arachnids/add">Add an arachnid</a>

    <table class="govuk-table">
        <caption class="govuk-table__caption">Arachnid</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% for arachnid in arachnids %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ arachnid.name }}</th>
            <td class="govuk-table__cell">{{ arachnid.description }}</td>
            <td class="govuk-table__cell">
                <a href="/arachnids/{{ arachnid.id }}" class="govuk-link">View</a>
            </td>
            <td class="govuk-table__cell">
                <a href="/arachnids/update/{{ arachnid.id }}" class="govuk-link">Update</a>
            </td>
            <td class="govuk-table__cell">
                <form action="/arachnids/delete/{{ arachnid.id }}" method="post">
                    <button class="govuk-button" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
