{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Birds</h1>

    <a class="govuk-button" href="/birds/add">Add a Bird</a>

    <table class="govuk-table">
        <caption class="govuk-table__caption">Birds</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% for bird in birds %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ bird.name }}</th>
            <td class="govuk-table__cell">{{ bird.description }}</td>
            <td class="govuk-table__cell">
                <a href="/birds/{{ bird.id }}" class="govuk-link">View</a>


                <a href="/birds/{{ bird.id }}/update" class="govuk-link">Edit</a>
                <a href="/birds/{{ bird.id }}/delete" class="govuk-link">Delete</a>


            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
