{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Cats</h1>

    <a class="govuk-button" href="/cats/add">Add a Cat</a>

    <table class="govuk-table">
        <caption class="govuk-table__caption">Cats</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% for cat in cats %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ cat.name }}</th>
            <td class="govuk-table__cell">{{ cat.description }}</td>
            <td class="govuk-table__cell">
                <a href="/cats/{{ cat.id }}" class="govuk-link">View</a>
            </td>
            <td class="govuk-table__cell">
                <a href="/cats/update/{{ cat.id }}" class="govuk-link">Update</a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
