{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Edit an Arachnid</h1>

    <form action="/arachnids" method="put">
        <input id="id" name="id" type="hidden" value="{{arachnid.id}}">
        <div class="govuk-form-group">
            <label class="govuk-label" for="name">
                Name
            </label>
            <input class="govuk-input" id="name" name="name" type="text" spellcheck="false" value="{{arachnid.name}}" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="description">
                Description
            </label>
            <input class="govuk-input" id="description" name="description" type="text" spellcheck="false" value="{{arachnid.description}}" required>
        </div>

        <button class="govuk-button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
