{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Edit Animal</h1>

    <form action="/animals/{{animal.id}}?_method=PUT" method="post">
        <div class="govuk-form-group">
            <label class="govuk-label" for="type">
                Type
            </label>
            <input class="govuk-input" id="type" name="type" type="text" spellcheck="false" value="{{animal.type}}" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="name">
                Name
            </label>
            <input class="govuk-input" id="name" name="name" type="text" spellcheck="false" value="{{animal.name}}" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="colour">
                Colour
            </label>
            <input class="govuk-input" id="colour" name="colour" type="text" spellcheck="false" value="{{animal.colour}}" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="description">
                Description
            </label>
            <input class="govuk-input" id="description" name="description" type="text" spellcheck="false" value="{{animal.description}}" required>
        </div>
        <div class="govuk-form-group">
            {{ govukSelect({
                id: "group",
                name: "group",
                label: {
                text: "Group",
                value: "{{ animal.group }}"
                },
                items: [{
                    value: "AMPHIBIAN",
                    text: "Amphibian"
                },
                {
                    value: "BIRD",
                    text: "Bird"
                },
                {
                    value: "FISH",
                    text: "Fish"
                },
                {
                    value: "INVERTEBRATE",
                    text: "Invertebrate"
                },
                {
                    value: "MAMMALS",
                    text: "Mammal"
                },
                {
                    value: "REPTILES",
                    text: "Reptile"
                }]
            }) }}
        </div>
        <button class="govuk-button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
