{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Horses</h1>

    <a class="govuk-button" href="/horses/add">Add a Horse</a>

    <table class="govuk-table">
        <caption class="govuk-table__caption">Horse</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% for horse in horses %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ horse.name }}</th>
            <td class="govuk-table__cell">{{ horse.description }}</td>
            <td class="govuk-table__cell">
                <a href="/horses/{{ horse.id }}" class="govuk-link">View</a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
