{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Welcome to the GOV.UK service</h1>

            <p style="padding-top: 20px">Use this GOV.UK service to do some things:</p>
            <a class="govuk-button" href="/cats">See Cats</a>
            <a class="govuk-button" href="/arachnids">See Arachnids</a>
        </div>
    {% if not user %}
        <div class="govuk-grid-column-two-thirds app-hr">
            <h2 class="govuk-heading-l">Sign in to GOV.UK online services</h2>
            <div>
                <p>When logged in you can do something.</p>
                <p>If you've already done something, you can renew, cancel or amend it.</p>
                <a class="govuk-button" href="/login">Sign in</a>
            </div>
        </div>
        {% include "includes/default-aside.html" %}
    {% else %}
        <div class="govuk-grid-column-two-thirds app-hr">
            <h2 class="govuk-heading-m">Services if you have already done something</h2>
            <p>If you have already done something you can perform the following actions:
            <ul class="govuk-list govuk-list--bullet">
                <li>Renew something</li>
                <li>Cancel something</li>
                <li class="app-disabled">Amend something</li>
            </ul>
        </div>
        {% include "includes/default-aside.html" %}
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Services to do something</h2>
            <p>If you've not yet done something you can do the following:</p>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li><a href="#">Do something</a></li>
                </ul>
            </nav>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
