{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Register a new type</h1>

    <form action="/register" method="post">
        <div class="govuk-form-group">
            <label class="govuk-label" for="group">
                Group
            </label>
            <select class="govuk-select" id="group" name="group" required>
                {% for group in groups %}
                <option value='{{ group }}'>{{ group }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="govuk-form-group">
            <div id="types-hint" class="govuk-hint">
                You can not register an existing type. Current types are {{types|join(', ')}}.
            </div>
            <label class="govuk-label" for="type">
                Type
            </label>
            <input class="govuk-input" id="type" name="type" type="text" spellcheck="false" required>
        </div>
        <button class="govuk-button" type="submit">Submit</button>
    </form>
    <div class="govuk-grid-column-full">

    </div>
</div>
{% endblock %}
