{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">update arachnid</h1>

    <form action="/arachnids/update/{{ arachnids.id }}" method="post">
        <div class="govuk-form-group">
            <label class="govuk-label" for="name">
                Name
            </label>
            <input class="govuk-input" id="name" name="name" type="text" value="{{ arachnids.name }}" spellcheck="false" required>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="description">
                Description
            </label>
            <input class="govuk-input" id="description" name="description" type="text" value="{{ arachnids.description }}" spellcheck="false" required>
        </div>

        <button class="govuk-button" type="submit">Submit</button>
    </form>

    
</div>
{% endblock %}
