{% extends "layout.html" %} {% block content %}

<div class="govuk-width-container app-site-width-container">
  <h1 class="govuk-heading-l">Animal</h1>

  <table class="govuk-table">
    <caption class="govuk-table__caption">
      Animal
    </caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Name</th>
        <td class="govuk-table__cell">{{ animal.name }}</td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Description</th>
        <td class="govuk-table__cell">{{ animal.description }}</td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Colour</th>
        <td class="govuk-table__cell">{{ animal.colour }}</td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Type</th>
        <td class="govuk-table__cell">{{ animal.type | capitalize }}</td>
      </tr>
    </tbody>
  </table>

  <button
    class="govuk-button govuk-button--warning"
    data-module="govuk-button"
    onclick="window.location.href='/animals/{{ animal.id }}/delete'"
  >
    Delete
  </button>
</div>
{% endblock %}
