{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Cat</h1>

    <table class="govuk-table">
        <caption class="govuk-table__caption">Cat</caption>
        <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">{{ cat.name }}</td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Description</th>
            <td class="govuk-table__cell">{{ cat.description }}</td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Edit</th>
            <td class="govuk-table__cell"><a class="govuk-button" href="/cats/edit/{{cat.id}}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
