{% extends "layout.html" %}
{% block content %}

<div class="govuk-width-container app-site-width-container">

    <h1 class="govuk-heading-l">Animal</h1>

    <table class="govuk-table">
        <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">{{ animal.name }}</td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Type</th>
            <td class="govuk-table__cell">{{ animal.type }}</td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Colour</th>
            <td class="govuk-table__cell">{{ animal.colour }}</td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Group</th>
            <td class="govuk-table__cell">
                {{ animal.group | capitalize }}
            </td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Description</th>
            <td class="govuk-table__cell">{{ animal.description }}</td>
        </tr>
        </tbody>
    </table>
    <a class="govuk-button" href="/animals/edit/{{animal.id}}">Edit</a>
    <form action="/animals/{{animal.id}}?_method=DELETE" method="post">
        <button class="govuk-button" type="submit">Delete</button>
    </form>
</div>

{% endblock %}
